.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: fit-content;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box > img {
  width: 100px;
  height: 150px;
  object-fit: cover;
}
