.second {
  background-color: #f9fafc;
  padding: 200px 0;
}

.second > .contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 32px;
  font-weight: 700;
  gap: 20px;

  font-family: "Noto Sans KR", sans-serif;
  font-style: normal;
  color: #191f28;
}
