@font-face {
  font-family: "NoonnuBasicGothicRegular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noon-2410@1.0/NoonnuBasicGothicRegular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "NoonnuBasicGothicRegular";
}

:root {
  /* 색상 */
  --color--primary: #356855;
  --color--secondary: #a6cbbc;
  --color--background: #cfe5df;
  --color--text: #555;
  --color--link: #908d7e;

  /* 폰트 사이즈 */
  --font-size--base: 16px;
  --font-size--x-small: 10px;
  --font-size--small: 12px;
  --font-size-large: 20px;
  --font-size-x-large: 24px;

  /* 센터링 & 컨테이닝 */
  --max-width-pc: 1200px;
  --max-width-mobile: 768px;
}
