.a {
  background-color: cornflowerblue;
  color: white;
  padding: 15px 30px 15px 30px;
  border: 1px solid cornflowerblue;
  border-radius: 5px;
  font-weight: 700;
}

.b {
  background-color: cornflowerblue;
  color: white;
  padding: 15px 30px 15px 30px;
  border: 1px solid cornflowerblue;
  border-radius: 5px;
  font-weight: 700;
}

.sh {
  background-color: #dbdbdb;
  padding: 15px;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  font-weight: 700;
}
